.section-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.thanks {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 250px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

ul {
  list-style: disc;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 1rem;
}

.intro {
  margin-top: 1rem;
}

@mixin parallaxBackground {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  height: 350px;
}

.parallax-super {
  background-image: url("/images/slide-1.png");
  @include parallaxBackground;
}

.parallax-main {
  background-image: url("/images/main-parallax.jpg");
  @include parallaxBackground;
}

.parallax-products {
  background-image: url("/images/parallax-products.jpg");
  @include parallaxBackground;
}

.parallax-projects {
  background-image: url("/images/parallax-projects.jpg");
  @include parallaxBackground;
}

.parallax-about {
  background-image: url("/images/parallax-about.jpg");
  @include parallaxBackground;
}

.features {
  text-align: center;

  h3 {
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
}

.activities .card {
  min-height: 255px;
}

.footer-info {
  line-height: normal;
  padding: 1rem;
  text-align: left;
}

@media screen and (max-width: 770px) {
  .activities .card {
    min-height: 0px;
  }
}

@media screen and (max-width: 500px) {
  body {
    margin-bottom: 380px;
  }
}

th,
tr {
  text-align: center;
}

td {
  max-width: 500px;
}

.intro2 {
  padding-bottom: 2rem;
}

.bottom-text {
  text-align: center;
  padding: 1rem;
}

form {
  input,
  select,
  textarea {
    width: 80%;
    height: 50px;
    margin-top: 1rem;
    padding: 5px;
    font-size: 1.2rem;
  }

  .consent {
    margin: 10px 0;
  }

  textarea {
    height: 120px;
  }

  button {
    width: 300px;
  }

  #personalData {
    height: 20px;
    width: 20px;
    display: inline-block;
  }

  label {
    display: inline-block;
    font-size: 0.9rem;
    vertical-align: middle;

    a {
      font-size: 0.9rem;
      padding: 0;
    }
  }
}

.carousel-caption {
  background-color: rgba(153, 153, 153, 0.45);
}

.navcontainer {
  z-index: 20;
}

.navbar {
  transition: height 0.5s !important;
}

.navbar-brand {
  margin-right: 0.8rem;
}

.filtec-images {
  display: flex;
  justify-content: space-evenly;
  img {
    object-fit: scale-down;
    max-width: 24%;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .filtec-images {
    img {
      max-width: 94%;
    }
  }
}
